asgiref==3.5.0
bleach==4.1.0
certifi==2021.10.8
chardet==3.0.4
Django==4.0.3
django-crispy-forms==1.14.0
django-extensions==3.1.5
django-tinymce==3.4.0
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
isbnlib==3.10.10
packaging==21.3
Pillow==9.0.1
pyparsing==3.0.7
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
sqlparse==0.4.2
webencodings==0.5.1
