{% extends 'base_full_page_box.html' %}
{% load crispy_forms_tags %}

{% comment %}
    Pagina per l'aggiornamento della propria password.
{% endcomment %}

{% block title %}{{ block.super }} Aggiorna password{% endblock %}

{% block first_column_classes %}unnecessary-column{% endblock %}
{% block second_column_content %}
    <div class="mb-5">
        <h6 class="font-5">
            <a class="site-link" href="{% url 'user_management:view-profile' user.pk %}">Profilo</a>
            &nbsp;>&nbsp;
            <a class="site-link" href="{% url 'user_management:user-settings' %}">Impostazioni</a>
            &nbsp;>&nbsp;
            Modifica password
        </h6>
        <h5 class="font-6">Modifica password</h5>
    </div>
    {% crispy form %}
    <div class="mt-4 mb-2 site-flex-buttons">
        <input class="btn site-btn  mb-3 mb-lg-0" type="submit" form="update-password-crispy-form" value="Salva password">
        <a class="site-link font-6 ml-3" href="{% url 'user_management:user-settings' %}">
            Annulla
        </a>
    </div>

{% endblock %}
{% block third_column_classes %}unnecessary-column{% endblock %}