<script type="text/javascript">
    /**
     * Ajax request to delete a book from the user Bookshelf.
     * success: Calls removeBook to graphically remove the row.
     * @param book_pk Book to delete pk.
     * @param link_clicked User clicked link.
     */
    function ajaxDeleteBook(book_pk, link_clicked) {
        let $row = link_clicked.closest('.bookshelf-element');
        $.ajax({
            type: 'POST',
            url: "{% url 'user_management:ajax-delete-book' %}",
            data: {
                'book_primary_key': book_pk,
            },
            headers:{
                "X-CSRFToken": '{{ csrf_token }}'
            },
            dataType: 'json',
            beforeSend: function() {
                $row.find('.delete-book-icon').tooltip('dispose');
                $row.html('<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>');
            },
            success: function(data) {
                bookshelfOperationSuccess(data, $row);
            }
        });
    }

    /**
     * Ajax request to move a book in the user Bookshelf from a category to another.
     * success: Calls removeBook to grephically remove the row.
     * @param book_pk Book to move pk.
     * @param move_to String, it represents the category to which to move the book.
     * @param link_clicked User clicked link.
     */
    function ajaxMoveBook(book_pk, move_to, link_clicked) {
        let $row = link_clicked.closest('.bookshelf-element');
        $.ajax({
            type: 'POST',
            url: "{% url 'user_management:ajax-move-book' %}",
            data: {
                'book_primary_key': book_pk,
                'move_to': move_to,
            },
            headers:{
                "X-CSRFToken": '{{ csrf_token }}'
            },
            dataType: 'json',
            beforeSend: function() {
                $row.html('<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>');
            },
            success: function(data) {
                bookshelfOperationSuccess(data, $row);
            }
        });
    }

    /**
     * Ajax request to insert a new book in the Bookshelf.
     * success: Calls removeBook to graphically remove the row.
     * @param book_pk Book to insert pk.
     * @param move_to String, it represents the category to which to move the book.
     * @param link_clicked User clicked link.
     */
    function ajaxNewBook(book_pk, move_to, link_clicked) {
        let $row = link_clicked.closest('.bookshelf-element');
        $.ajax({
            type: 'POST',
            url: "{% url 'user_management:ajax-new-book' %}",
            data: {
                'book_primary_key': book_pk,
                'move_to': move_to,
            },
            headers:{
                "X-CSRFToken": '{{ csrf_token }}'
            },
            dataType: 'json',
            beforeSend: function() {
                $row.html('<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>');
            },
            success: function(data) {
                bookshelfOperationSuccess(data, $row);
            }
        });
    }
</script>