{% extends 'base_list.html' %}
{% load book_filters %}

{% comment %}
    Base template for book lists with link pointing to the book in your own bookshelf.
{% endcomment %}

{% block list_content %}
    {% for book in books %}
        <div class="text-element">
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center
                {% if rating %} list-group-item-progress-bar {% endif %}"
               href="{% url 'view-private-book' book.pk %}">
                {% include 'book_management/base_book_list_item.html' %}
            </a>
        </div>
{#          <h6 class="hr-text"><span>2019</span></h6>#}
    {% empty %}
        <div class="ml-5 mt-5 mb-3">
            <span class="font-6">Pare non ci sia nulla qui.</span>
        </div>
    {% endfor %}
{% endblock %}