<script type="text/javascript">
    /**
     * Ajax request: download specified book data.
     * success: call function to fill the page with book data.
     * @param {String} isbn Book ISBN code.
     */
    function ajaxSearchBook(isbn) {
        let search_button = $('#new-book-search-button');
        $.ajax({
            type: 'GET',
            url: "{% url 'book_management:ajax-search-book' %}",
            data: {
                'isbn_code': isbn,
            },
            dataType: 'json',
            beforeSend: function() {
                search_button.hide();
                $('#new-book-loading-icon').html(
                    '<div class="spinner-border mt-2" role="status"><span class="sr-only">Loading...</span></div>');
            },
            success: function(data) {
                $('.spinner-border').hide();
                search_button.show();
                fillBookData(data);
            },
            error: function(data) {
                $('.spinner-border').hide();
                search_button.show();
                fillBookDataError();
            }
        });
    }
</script>