{% extends 'base_delete.html' %}
{% load static %}

{% comment %}
    Comment removal page.
{% endcomment %}

{% block title %}{{ block.super }} Eliminazione commento{% endblock %}

{% block delete_page_path %}
    <a class="site-link" href="{% url 'view-public-book' topic.book.pk %}">{{ topic.book.title|truncatewords:6 }}</a>
    &nbsp;>&nbsp;
    <a class="site-link" href="{% url 'comment_management:view-topic' topic.pk %}">Topic</a>
    &nbsp;>&nbsp;
    Commento
    &nbsp;>&nbsp;
    Elimina commento
{% endblock %}

{% block delete_object_title %}Elimina il tuo commento{% endblock %}
{% block delete_object_subtitle %}Informazioni che verranno perse definitivamente{% endblock %}

{% block delete_object_information %}
    {% include 'comment_management/base_comment.html' with comment=object is_delete=True %}
{% endblock %}
{% block cancel_button_url %}{% url 'comment_management:view-topic' topic.pk %}{% endblock %}

{% block extra_javascript %}
    <script src="{% static 'js/base_topic.js' %}"></script>
    <script src="{% static 'js/show_more_less.js' %}"></script>
{% endblock %}