<script type="text/javascript">
    /**
     * Ajax request to save a user Like.
     * success: Calls the function fillLike() to manage the icon.
     * @param topic_ppk Primary key of the Topic on which the Like button has been pressed.
     * @param icon_clicked Like icon clicked by the user.
     *
     */
    function ajaxSaveLike(topic_pk, icon_clicked) {
        $.ajax({
            type: 'POST',
            url: "{% url 'comment_management:ajax-save-like' %}",
            data: {
                'topic_primary_key': topic_pk,
            },
            headers:{
                "X-CSRFToken": '{{ csrf_token }}'
            },
            dataType: 'json',
            beforeSend: function() {
            },
            complete: function() {
            },
            success: function(data) {
                fillLike(data, icon_clicked);
            }
        });
    }

    /**
     * Ajax request to save a bookmark.
     * success: Calls the function fillBookmark() to manage the icon.
     * @param topic_pk Primary key of the Topic on which the Bookmark button hase been pressed.
     * @param icon_clicked Bookmark icon clicked by the user.
     *
     */
    function ajaxSaveBookmark(topic_pk, icon_clicked) {
        $.ajax({
            type: 'POST',
            url: "{% url 'comment_management:ajax-save-bookmark' %}",
            data: {
                'topic_primary_key': topic_pk,
            },
            headers:{
                "X-CSRFToken": '{{ csrf_token }}'
            },
            dataType: 'json',
            beforeSend: function() {
            },
            complete: function() {
            },
            success: function(data) {
                fillBookmark(data, icon_clicked);
            }
        });
    }
</script>